.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.card {
  border-radius: 12px;
}

.card__header h4 {
  margin: 0.2rem 0 0.4rem;
}

.card__body ul {
  padding-left: 1.2rem;
}
