name: Deploy Docusaurus to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Go into your docu folder
      - name: Change to docu folder
        run: cd docu

      # Setup Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # Install dependencies
      - name: Install dependencies
        run: |
          cd docu
          npm ci

      # Build Docusaurus
      - name: Build website
        run: |
          cd docu
          npm run build

      # Upload build output
      - name: Upload build artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: docu/build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
